<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.eclipse.jetty" level="${LOG_LEVEL:-error}"/>
  <logger name="org.sensorhub" level="${LOG_LEVEL:-error}"/>
  <logger name="org.sensorhub.impl.sensor.mavlink" level="${LOG_LEVEL:-error}"/>
  <logger name="org.vast" level="${LOG_LEVEL:-error}"/>
  <root level="${LOG_LEVEL:-error}">
    <appender-ref ref="STDOUT" />
  </root>    
</configuration>